@import url('https://fonts.googleapis.com/css?family=Roboto:400, 700');

:root {
	--mainWhite: #fff;
	--mainBlack: #000;
	--mainGrey: #F7F7F7;
	--darkGrey: #7e7e7e;
	--mainGreen: #09A070;
	--secondBlack: #464646;
}

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background-color: var(--mainWhite);
	color: var(--mainBlack);
	font-family: 'Roboto', sans-serif;
}

body {
	overflow-x: hidden;	
}

/*Main nav*/

#logo {
	margin: .3rem;
	padding-top: 1rem;
	color: var(--mainWhite);
	/*animations*/
	animation-name: main_logo;
	animation-duration: 10s;
	animation-iteration-count: 40s;
	animation-timing-function: ease-out;
}

#nav {
	width: 100%;
	height: 3rem;
	position: absolute;
	z-index: 1;
	border-bottom: .001rem solid var(--mainWhite);
}

#logo {
	float: left;
	color: var(--mainGrey);
}

.nav_items {
	float: right;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	list-style: none;
	text-transform: uppercase;
	font-size: .9rem;
	width: 55rem;
	text-align: center;
}

.nav_items li {
	display: inline;
	padding: 0px 1rem;
}

.nav_items li a {
	color: var(--mainWhite);
	text-decoration: none;
}

.nav_items li a:hover {
	text-decoration: underline; 
}

.mini_navs_items {
	display: none;
}

#burger {
	display: none;
}

/*Main Div*/

#main_div {
	width: 100%;
	height: 100vh;
	background-image: url('Images/main_image_6.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	color: var(--mainWhite);
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	position: relative;
	margin-bottom: 2rem;
}

#main_div_text {
	grid-row: 4/5;
	padding-left: 2rem;
	margin-left: 3rem;
	border-left: .3rem solid var(--mainWhite);
	height: 11rem;
	/*animations*/
	animation-name: main_div_text;
	animation-duration: 15s;
	animation-timing-function: ease-out;
	animation-iteration-count: 20s;
}

#main_div_text > p {
	font-size: .9rem;
	margin-top: 0px;
	white-space: normal;
}

#main_div_text > h1 {
	font-size: 2.5rem;
}

#main_div_text > div {
	font-size: 1rem;
	border: .01rem solid var(--mainWhite);
	display: inline;
	text-align: center;
	padding: .3rem;
	cursor: pointer;
	/*animations*/
	animation-name: main_div_button;
	animation-duration: 15s;
	animation-iteration-count: 40s;
	animation-timing-function: ease-out;
	transition-duration: 2s;
}

#main_div_text > div:hover {
	color: var(--mainBlack);
}

/*Second Div*/

#best_s_packages {
	width: 100%;
	height: 60rem;
	/*margin-top: 2rem;*/
	background: var(--mainGrey);
}

h2 {
	text-align: center;
	font-family: 'Roboto', sans-serif;	
	color: var(--darkGrey);
	font-size: 2rem;
	padding-top: 3rem;
	font-weight: bold;
}

.green_underline {
	width: 9.5rem;
	height: .2rem;
	background: var(--mainGreen);
	margin: -1rem auto;
	border-radius: 10rem;
}

.green_line_anim {
	/*animations*/
	animation-name: green_line_anim;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

.subtitles {
	margin: 1rem auto;
	text-align: center;
	padding-top: 2rem;
	width: 30%;
	font-family: 'Roboto', sans-serif;	
	color: var(--darkGrey);
}

#pack_galery {
	width: 80%;
	height: 60%;
	background: white;
	margin: 4rem auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
}

#large_galery {
	background-image: url(Images/galery_greece_1.jpg);
	background-position: center;
	background-size: cover;
	box-shadow: 1px 1px 1px var(--mainGrey);
	position: relative;
	transform: translateX(-50rem);
}

.lg_galery_anim {
	/*animations*/
	transform: translateX(-50rem);
	animation-name: lg_galery;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

#lg_price {
	width: 4.5rem;
	height: 1.5rem;
	padding-right: .5rem;
	padding-top: .2rem;
	clip-path: polygon(0% 0%, 100% 0%, 80% 50%, 100% 100%, 0% 100%);
	background: var(--mainGreen);
	color: var(--mainWhite);
	box-shadow: 1px 1px 1px var(--mainBlack);
	text-align: center;
}


#lg_desc {
	position: absolute;
	display: inline;
	bottom: 0;
	color: var(--mainGreen);
	background: var(--mainWhite);
	padding: .5rem;
	opacity: .7;
	width: 5rem;
	height: 8rem;
}

#lg_left_arrow {
	float: left;
	font-size: 1.5rem;
	color: var(--mainWhite);
	cursor: pointer;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	position: relative;
  	margin-left: 1rem;
}

#lg_right_arrow {
	float: right;
	font-size: 1.5rem;
	color: var(--mainWhite);
	cursor: pointer;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	position: relative;
  	margin-right: 1rem;

}

#small_galery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1rem;
	position: relative;
}

#small_galery div:nth-child(1) {
	background-image: url('Images/galery_london_1.jpg');
	background-position: center;
	background-size: cover;
	transform: translateX(20rem);
	position: relative;
	display: none;
}

#small_galery div:nth-child(2) {
	background-image: url('Images/galery_paris_1.jpg');
	background-position: center;
	background-size: cover;
	transform: translateY(-20rem);
	position: relative;
	display: none;
}

#small_galery div:nth-child(3) {
	background-image: url('Images/galery_rome_1.jpg');
	background-position: center;
	background-size: cover;
	transform: translateY(50rem);	
	position: relative;
	display: none;
}

#small_galery div:nth-child(4) {
	background-image: url('Images/galery_prague_1.jpg');
	background-position: center;
	background-size: cover;
	transform: translateX(-20rem);	
	position: relative;
	display: none;
}

.small_galery {
	box-shadow: 1px 1px 1px var(--mainBlack);
	cursor: pointer;
}


.small_galer_1_anim {
	/*animations*/
	transform: translateX(-50rem);
	animation-name: small_galer_first_anim;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.small_galer_2_anim {
	/*animations*/
	transform: translateX(-50rem);
	animation-name: small_galer_second_anim;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;	
}

.small_galer_3_anim {
	/*animations*/
	transform: translateX(-50rem);
	animation-name: small_galer_third_anim;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;	
}

.small_galer_4_anim {
	/*animations*/
	transform: translateX(-50rem);
	animation-name: small_galer_forth_anim;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;	
}

/*Adventures*/
	
#adventures {
	width: 100%;
	height: 20rem;
	background: var(--secondBlack);
	text-align: center;
}

#adventures > h2 {
	transform: translateY(-20rem);
	position: relative;
	display: none;
}

#adventures > p {
	color: var(--mainWhite);
	transform: translateY(20rem);
	position: relative;	
}

.adventures_h_anim {
	/*animations*/
	animation-name: adventures_h_anim;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.adventures_p_anim {
	/*animations*/
	animation-name: adventures_p_anim;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

#adventures_div {
	width: 85%;
	height: 40rem;
	background: rgba(0, 0, 0, 0);
	margin: 0px auto;
	margin-top: -5rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
}

#adventures_div > div:nth-child(1) {
	background-image: url('Images/Adventures/skiing.jpg');
	background-size: cover;
	background-position: center;
	box-shadow: 1px 1px 1px var(--secondBlack);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#adventures_div > div:nth-child(2) {
	background-image: url('Images/Adventures/hiking.jpg');
	background-size: cover;
	background-position: center;
	box-shadow: 1px 1px 1px var(--secondBlack);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
#adventures_div > div:nth-child(3) {
	background-image: url('Images/Adventures/cycling.jpg');
	background-size: cover;
	background-position: center;
	box-shadow: 1px 1px 1px var(--secondBlack);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
#adventures_div > div:nth-child(4) {
	background-image: url('Images/Adventures/rafting.jpg');
	background-size: cover;
	background-position: center;
	box-shadow: 1px 1px 1px var(--secondBlack);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.adventures_div {
	width: 100%;
	height: 100%;
	background-color: var(--mainBlack);
	opacity: .2;
	position: absolute;
	text-align: center;
	display: grid;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 2s all;

}

.adventures_div:hover {
	opacity: .9;
	width: 50%;
	height: 25%;
	font-size: 2rem;
}

.adventures_div > p {
	color: var(--mainWhite);

}

#view_all_adv {
	width: 9rem;
	height: 2rem;
	border: 2px solid var(--mainGreen);
	color: var(--mainGreen);
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3rem auto;
	border-radius: 2px;
	cursor: pointer;
	transition: 1s all;
}

#view_all_adv:hover {
	background: var(--mainGreen);
	color: var(--mainWhite); 
}

/*Specials*/

hr {
	background-color: var(--mainGreen);
	border-color: var(--mainGreen);
	color:  var(--mainGreen);
	width: 95%;
}

#cl_spec_info {
	font-size: .9rem;
	padding: 1rem;
	padding-left: 4.2rem;
}


#specials {
	width: 95%;
	margin: 5rem auto;
	height: 40em;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background-image: url('Images/globe_2.png');
	background-position: center;
	background-size: cover;
	grid-gap: 3rem;
	background-attachment: fixed;
}


#specials > div:nth-child(1) {
	background-image: url('Images/Specials/peru_0.jpg');
}

#specials > div:nth-child(2) {
	background-image: url('Images/Specials/cambodia_0.jpg');
}

#specials > div:nth-child(3) {
	background-image: url('Images/Specials/tibet_0.jpg');
}

#specials > div:nth-child(4) {
	background-image: url('Images/Specials/turkmenistan_0.jpg');
}

#specials > div:nth-child(5) {
	background-image: url('Images/Specials/argentina_0.jpg');
}

#specials > div:nth-child(6) {
	background-image: url('Images/Specials/australia_0.jpg');
}

#specials > div:nth-child(7) {
	background-image: url('Images/Specials/new-zealand_0.jpg');
}

#specials > div:nth-child(8) {
	background-image: url('Images/Specials/madagascar_0.jpg');
}

#specials > div:nth-child(9) {
	background-image: url('Images/Specials/easter-island_0.jpg');
}

#specials > div:nth-child(10) {
	background-image: url('Images/Specials/greenland_0.jpg');
}

#specials > div:nth-child(11) {
	background-image: url('Images/Specials/mexico_0.jpg');
}

#specials > div:nth-child(12) {
	background-image: url('Images/Specials/congo_0.jpg');
}


.specials {
	box-shadow: 1px 1px 1px var(--mainBlack);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.specials_anim {
	/*animations*/
	animation-name: specials_anim;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

#sp_trips {
	text-align: center;
}

.special_price {
	width: 4.5rem;
	height: 1.5rem;
	padding-right: .5rem;
	padding-top: .1rem;
	clip-path: polygon(0% 0%, 100% 0%, 80% 50%, 100% 100%, 0% 100%);
	background: var(--mainGreen);
	color: var(--mainWhite);
	box-shadow: 1px 1px 1px var(--mainBlack);
	text-align: center;
}

.special_desc {
	text-align: center;
	color: var(--mainGreen);
	background-color: white;
	margin: 0px auto;
	cursor: pointer;
	opacity: .8;
	transition: 2s all;
	width: 100%;
	height: 65%;
	position: relative;
}

.special_desc:hover {
	opacity: 1;
	width: 90%;
}

.special_loc {
	display: inline;
	white-space: normal;
}

.fa-info-circle {
	padding: .1rem;
	cursor: pointer;
	position: absolute;
	color: var(--mainWhite);
}


/*Second Page(special)*/

#special_header {
	width: 100%;
	height: 3rem;
	background-color: var(--mainBlack);
	color: var(--mainWhite);
	font-size: 1rem;
	display: flex;
	justify-content: flex-start;
	padding: .2rem;
	position: fixed;
}

#special_div {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 60% 40%;
}

#special_img { 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#special_about_header {
	text-align: left;
}

#special_about {
	text-align: justify;
	padding: 1rem;
	font-size: 1.2rem;

}

#wicky {
	border: none;
	background-color: var(--mainGreen);
	color: var(--mainWhite);
	cursor: pointer;
	border-radius: 3px;
	transition: 1s all;
}

#wicky:hover {
	background-color: var(--mainWhite);
	color: var(--mainGreen);
}


/*Second Page(Adventures)*/

#adventures_header {
	width: 100%;
	height: 3rem;
	background-color: var(--mainBlack);
	color: var(--mainWhite);
	font-size: 1rem;
	display: flex;
	justify-content: flex-start;
}

#adv_container {
	width: 100%;
	height: 400vh;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 1rem;
	margin: 1rem auto;
}

.adv_all {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 98%;
	height: 100%;
	grid-gap: 1rem;
	margin: 0px auto;
}

#adv_hiking {
	background-image: url('Images/Adventures/hiking.jpg');
	background-position: bottom;
	background-size: cover;
}

#adv_cycling {
	background-image: url('Images/Adventures/cycling.jpg');
	background-position: bottom;
	background-size: cover;
}

#adv_skiing {
	background-image: url('Images/Adventures/skiing.jpg');
	background-position: center;
	background-size: cover;
}

#adv_rafting {
	background-image: url('Images/Adventures/rafting.jpg');
	background-position: top;
	background-size: cover;
}

.adv_desc {
	text-align: justify;
	padding: 1rem;
	font-size: 1.2rem;
}

.adv_desc > h2 {
	text-align: center;
}

/*Why US*/

#why_us {
	width: 98%;
	margin: 5rem auto;
	height: 35rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

#why_us_img {
	background-image: url('Images/why_us.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	color: var(--mainWhite);
}

#why_us_img > h3 {
	opacity: .8;
}


#why_us_txt {
	background-color: var(--mainGrey);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1rem;
}

.fa-check-circle {
	font-size: 3rem;
	color: var(--mainGreen);

}

.fa-check-circle_anim {
/*aniamtions*/
	animation-name: fa-check-circle_anim;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

.why_us_txt {
	background-color: var(--mainWhite);
	text-align: center;
	font-size: 1rem;
	padding-top: 1rem;
}

.why_us_txt > p {
	text-align: justify-all;
	padding-top:  1rem;
}

/*Stats Sounter*/

#stats_count {
	width: 100%;
	height: 30rem;
	background: var(--secondBlack);
	background-attachment: fixed;
	display: grid;
	grid-template-rows: 35% 65%;
}

#stats_count_content {
	width: 90%;
	display: grid;
	margin: 0pc auto;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}

.stats_count {
	border: 1px solid var(--mainWhite);
	border-radius: 50%;
	width: 15rem;
	height: 15rem;
	color: var(--mainGreen);
	text-align: center;
	padding: 1rem;
	box-sizing: border-box;
}

.stats_count > i {
	color: var(--mainGreen);
	font-size: 2rem;
}

.stats_count p:nth-child(2) {
	font-size: 2rem;
	color: var(--mainWhite);
}


.stats_count p:nth-child(3) {
	font-size: 1rem;
	color: var(--mainWhite);
}

/*Reference*/

#reference {
	margin: 5rem auto;
	background-color: var(--mainWhite);
	width: 95%;
	height: 30rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.ref {
	text-align: center;
	background: var(--mainGrey);
	padding-top: 2rem;
}

.ref > i {
	font-size: 10rem;
}

.ref > p {
	margin: 5rem auto;
	text-align: justify-all;
	width: 80%;
}

/*Footer*/

#footer {
	width: 100%;
	height: 20rem;
	margin-top: 5rem;
	background-color: var(--secondBlack);
}

#footer_div {
	width: 90%;
	height: 90%;
	margin: 1rem auto;
	background-color: var(--mainGrey);
	text-align: center;
}

#footer_div > div {
	margin-bottom: 2rem;
}

#footer_div > p {
	padding: .5rem;
	color: var(--secondBlack);
	font-weight: bold;
}

#footer_div  i {
	color: var(--mainGreen);
}

#footer_logo {
	float: left;
	color: var(--mainGreen);
	font-size: 1.5rem;
	font-weight: bold;
	padding: .1rem;
}

#footer > img {
	width: 3rem;
	height: 3rem;
	float: right; 
	margin-top: -2rem;
	transition: all 2s;
}

#footer_logo:hover {
	transform: rotateY(360deg);
}
														/*Media queris*/


@media screen and (max-width: 800px) {

/*Nav*/
	
	.nav_items {
		display: none;
	}

	#nav {
		background: var(--mainBlack);
		position: relative;
	}

	#burger {
		display: inline;
		color: var(--mainWhite);
		font-size: 1.5rem;
		margin: 1rem;
		float: right;
		z-index: 1;
		cursor: pointer;
		box-sizing: border-box;
		margin-bottom: 0rem;
	}

	.mini_navs_items {
		height: 11.5rem;
		text-align: center;
		text-decoration: none;
		position: relative;
		display: none;
	}

	.mini_navs_items a  {
		text-decoration: none;
		color: var(--mainBlack);
	}

	.mini_navs_items a:hover {
		text-decoration: underline;
		cursor: pointer;
		cursor: pointer;
	}

	.mini_navs_items ul {
		list-style: none;
		padding: 0px;
	}

	.mini_navs_items ul li {
		padding-top: .5rem;
	}

	.show_mini_nav {
		display: block;
	}

/*B S Galery*/

	#pack_galery {
		display: grid;
		grid-template-columns: none;
		grid-template-rows: repeat(2, 1fr);
		width: 100%;
		height: 60rem;
	}

	.fa-arrow-alt-circle-left {
		top: 40%;
	  	-ms-transform: translateY(-40%);
	  	transform: translateY(-40%);
	}

	.fa-arrow-alt-circle-right {
	  	top: 40%;
	  	-ms-transform: translateY(-40%);
	  	transform: translateY(-40%);
	}


/*Adventures*/
		
	#adventures {
		margin-top: 15rem;
	}

	#adventures_div {
		width: 85%;
		height: 40rem;
		background: rgba(0, 0, 0, 0);
		margin: 0px auto;
		margin-top: -5rem;
		display: grid;
		grid-template-columns: none;
		grid-template-rows: repeat(4, 1fr);
		grid-gap: 1rem;
	}


	.adventures_div:hover {
		width: 25%;
		height: 50%;
		font-size: 1.5rem;
	}

/*Specials*/

	#cl_spec_info {
		font-size: .7rem;
		padding: .5rem;
		padding-left: 2.2rem;
	}

	/*loosing I*/
	#specials {
		width: 95%;
		margin: 5rem auto;
		height: 80em;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}


	.special_desc:hover {
		opacity: 1;
		width: 100%;
	}

	/*loosing I*/
	.fa-info-circle {
		padding: .1rem;
		cursor: pointer;
		position: absolute;
		color: var(--mainWhite);
	}

	.special_desc {
		font-size: .9rem;	
	}

/*Why US*/

	#why_us {
		width: 98%;
		margin: 5rem auto;
		height: 70rem;
		display: grid;
		grid-template-columns: none;
		grid-template-rows: repeat(2, 1fr);

	}
	
	.why_us_txt {
		background-color: var(--mainWhite);
		text-align: center;
		font-size: 1rem;
		padding-top: 3rem;
	}


/*Stats Sounter*/

	/*problem*/
	#stats_count {
		width: 100%;
		height: 45rem;
		grid-template-rows: 25% 75%;	
	}

	#stats_count_content {
		width: 80%;
		display: grid;
		margin: 0px auto;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 1rem;
	}

	.stats_count {
		margin: 0px auto;
	}

	.stats_count > i {
		color: var(--mainGreen);
		font-size: 1.5rem;
	}

	.stats_count p:nth-child(2) {
		font-size: 1.5rem;
		color: var(--mainWhite);
	}


	.stats_count p:nth-child(3) {
		font-size: .8rem;
		color: var(--mainWhite);
	}

/*Other Page(Specials)*/

	#special_div {
		height: 80rem;
		display: grid;
		grid-template-columns: none;
		grid-template-rows: repeat(2, 1fr);
	}


/*Second Page(Adventures)*/


	#adv_container {
		height: 800vh;
		display: grid;
		grid-template-rows: repeat(4, 1fr);
	}

	.adv_all {
		display: grid;
		grid-template-columns: none;
		grid-template-rows: repeat(2, 1fr);
	}

}


@media screen and (max-width: 500px) {

	#main_div_text {
		padding-left: 0rem;
		margin-left: 0rem;
	}

	.subtitles {
		width: 50%;
	}

	#adventures {
		margin-top: 25rem;
	}

	#cl_spec_info {
		font-size: .7rem;
		padding: .5rem;
		padding-left: .2rem;
		margin-top: .4rem;
	}

	.special_desc {
		font-size: .7rem;	
	}

/*Stats Sounter*/

	/*problem*/
	#stats_count {
		width: 100%;
		height: 87rem;
		grid-template-rows: 15% 85%;	
	}

	#stats_count_content {
		width: 80%;
		display: grid;
		margin: 0px auto;
		grid-template-columns: none;
		grid-template-rows: repeat(4, 1fr);
		grid-gap: 1rem;
	}

/*Reference*/

	#reference {
		height: 85rem;
		display: grid;
		grid-template-columns: none;
		grid-template-rows: repeat(3, 1fr);
	}

}

/*ANIMATION*/

@keyframes main_logo {
	50% {
		color: var(--mainBlack);
	}
}


@keyframes main_div_text {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(.9);	
	}
}

@keyframes main_div_button {
	50% {
		color: var(--mainBlack);
	}
}

@keyframes lg_galery {

	50% {
		transform: translateX(3rem);
	}

	100% {
		transform: translateX(0rem);
	}
}

@keyframes small_galer_first_anim {
	50% {
		transform: translateX(3rem);
	}

	100% {
		transform: translateX(0rem);
	}	
}

@keyframes small_galer_second_anim {
	50% {
		transform: translateY(3rem);
	}

	100% {
		transform: translateY(0rem);
	}	
}

@keyframes small_galer_third_anim {
	50% {
		transform: translateY(3rem);
	}

	100% {
		transform: translateY(0rem);
	}	
}

@keyframes small_galer_forth_anim {
	50% {
		transform: translateX(3rem);
	}

	100% {
		transform: translateX(0rem);
	}	
}

@keyframes green_line_anim {
	0% {
		transform: translateX(.5rem);
	}

	25% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-.5rem);
	}

	75% {
		transform: translateX(.5rem);
	}

	100% {
		transform: translateX(0%);
	}
}

@keyframes adventures_h_anim {
	from {
		transform: translateY(-20rem;);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes adventures_p_anim {
	from {
		transform: translateY(20rem;);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes specials_anim {
	from {
		transform: rotateY(0deg);
	}

	to {
		transform: rotateY(360deg);
	}
}

@keyframes fa-check-circle_anim {
	from {
		transform: scale(2);
	}

	to {
		transform: scale(1);
	}
}