@import url('https://fonts.googleapis.com/css?family=Roboto:400, 700');

:root {
	--mainWhite: #fff;
	--mainBlack: #000;
	--mainGrey: #F7F7F7;
	--darkGrey: #7e7e7e;
	--mainGreen: #09A070;
	--secondBlack: #464646;
}

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background-color: var(--mainWhite);
	color: var(--mainBlack);
	font-family: 'Roboto', sans-serif;
}

/*Main nav*/

#logo {
	margin: .3rem;
	padding-top: 1rem;
	color: var(--mainWhite);
}

#nav {
	width: 100%;
	height: 3rem;
	position: absolute;
	z-index: 1;
	border-bottom: .001rem solid var(--mainWhite);
}

#logo {
	float: left;
	color: var(--mainGrey);
}

.nav_items {
	float: right;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	list-style: none;
	text-transform: uppercase;
	font-size: .9rem;
	width: 55rem;
	text-align: center;
}

.nav_items li {
	display: inline;
	padding: 0px 1rem;
}

.nav_items li a {
	color: var(--mainWhite);
	text-decoration: none;
}

.nav_items li a:hover {
	text-decoration: underline; 
}

.mini_navs_items {
	display: none;
}

#burger {
	display: none;
}

/*Main Div*/

#main_div {
	width: 100%;
	height: 100vh;
	background-image: url('Images/main_image_6.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	color: var(--mainWhite);
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	position: relative;
	margin-bottom: 2rem;
}

#main_div_text {
	grid-row: 4/5;
	padding-left: 2rem;
	margin-left: 3rem;
	border-left: .3rem solid var(--mainWhite);
	height: 11rem;
}

#main_div_text > p {
	font-size: .9rem;
	margin-top: 0px;
	white-space: normal;
}

#main_div_text > h1 {
	font-size: 2.5rem;
}

#main_div_text > div {
	font-size: 1rem;
	border: .01rem solid var(--mainWhite);
	display: inline;
	text-align: center;
	padding: .3rem;
	cursor: pointer;
}

/*Second Div*/

#best_s_packages {
	width: 100%;
	height: 60rem;
	margin-top: 2rem;
	background: var(--mainGrey);
}

h2 {
	text-align: center;
	font-family: 'Roboto', sans-serif;	
	color: var(--darkGrey);
	font-size: 2rem;
	padding-top: 3rem;
	font-weight: bold;
}

.green_underline {
	width: 9.5rem;
	height: .2rem;
	background: var(--mainGreen);
	margin: -1rem auto;
	border-radius: 10rem;
}

.subtitles {
	margin: 1rem auto;
	text-align: center;
	padding-top: 2rem;
	width: 30%;
	font-family: 'Roboto', sans-serif;	
	color: var(--darkGrey);
}

#pack_galery {
	width: 80%;
	height: 60%;
	background: white;
	margin: 4rem auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
}

#large_galery {
	background-image: url(Images/galery_greece_1.jpg);
	background-position: center;
	background-size: cover;
	box-shadow: 1px 1px 1px var(--mainGrey);
	position: relative;
}

#lg_price {
	width: 4.5rem;
	height: 1.5rem;
	padding-right: .5rem;
	padding-top: .2rem;
	clip-path: polygon(0% 0%, 100% 0%, 80% 50%, 100% 100%, 0% 100%);
	background: var(--mainGreen);
	color: var(--mainWhite);
	box-shadow: 1px 1px 1px var(--mainBlack);
	text-align: center;
}


#lg_desc {
	position: absolute;
	display: inline;
	bottom: 0;
	color: var(--mainGreen);
	background: var(--mainWhite);
	padding: .5rem;
	opacity: .7;
	width: 5rem;
	height: 8rem;
}

#lg_left_arrow {
	float: left;
	font-size: 1.5rem;
	color: var(--mainWhite);
	cursor: pointer;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	position: relative;
  	margin-left: 1rem;
}

#lg_right_arrow {
	float: right;
	font-size: 1.5rem;
	color: var(--mainWhite);
	cursor: pointer;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	position: relative;
  	margin-right: 1rem;

}

#small_galery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1rem;
}

#small_galery div:nth-child(1) {
	background-image: url('Images/galery_london_1.jpg');
	background-position: center;
	background-size: cover;
}

#small_galery div:nth-child(2) {
	background-image: url('Images/galery_paris_1.jpg');
	background-position: center;
	background-size: cover;
}

#small_galery div:nth-child(3) {
	background-image: url('Images/galery_rome_1.jpg');
	background-position: center;
	background-size: cover;
}

#small_galery div:nth-child(4) {
	background-image: url('Images/galery_prague_1.jpg');
	background-position: center;
	background-size: cover;
}

.small_galery {
	box-shadow: 1px 1px 1px var(--mainBlack);
	cursor: pointer;
}

/*Adventures*/
	
#adventures {
	width: 100%;
	height: 20rem;
	background: var(--secondBlack);
	text-align: center;
}

#adventures > p {
	color: var(--mainWhite);
}


#adventures_div {
	width: 85%;
	height: 40rem;
	background: var(--mainWhite);
	margin: 0px auto;
	margin-top: -5rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
}

#adventures_div > div:nth-child(1) {
	background-image: url('Images/Adventures/skiing.jpg');
	background-size: cover;
	background-position: center;
	box-shadow: 1px 1px 1px var(--secondBlack);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#adventures_div > div:nth-child(2) {
	background-image: url('Images/Adventures/hiking.jpg');
	background-size: cover;
	background-position: center;
	box-shadow: 1px 1px 1px var(--secondBlack);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
#adventures_div > div:nth-child(3) {
	background-image: url('Images/Adventures/cycling.jpg');
	background-size: cover;
	background-position: center;
	box-shadow: 1px 1px 1px var(--secondBlack);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
#adventures_div > div:nth-child(4) {
	background-image: url('Images/Adventures/rafting.jpg');
	background-size: cover;
	background-position: center;
	box-shadow: 1px 1px 1px var(--secondBlack);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.adventures_div {
	width: 100%;
	height: 100%;
	background-color: var(--mainBlack);
	opacity: .2;
	position: absolute;
	text-align: center;
	display: grid;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 2s all;

}

.adventures_div:hover {
	opacity: .9;
	width: 50%;
	height: 25%;
	font-size: 2rem;
}

.adventures_div > p {
	color: var(--mainWhite);

}

#view_all_adv {
	width: 9rem;
	height: 2rem;
	border: 2px solid var(--mainGreen);
	color: var(--mainGreen);
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3rem auto;
	border-radius: 2px;
	cursor: pointer;
	transition: 1s all;
}

#view_all_adv:hover {
	background: var(--mainGreen);
	color: var(--mainWhite); 
}

/*Specials*/

hr {
	background-color: var(--mainGreen);
	border-color: var(--mainGreen);
	color:  var(--mainGreen);
	width: 95%;
}

#cl_spec_info {
	font-size: .9rem;
	padding: 1rem;
}


#specials {
	width: 90%;
	margin: 5rem auto;
	height: 40em;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 3rem;
}

#specials > div:nth-child(1) {
	background-image: url('Images/Specials/peru_0.jpg');
}

#specials > div:nth-child(2) {
	background-image: url('Images/Specials/cambodia_0.jpg');
}

#specials > div:nth-child(3) {
	background-image: url('Images/Specials/tibet_0.jpg');
}

#specials > div:nth-child(4) {
	background-image: url('Images/Specials/turkmenistan_0.jpg');
}

#specials > div:nth-child(5) {
	background-image: url('Images/Specials/argentina_0.jpg');
}

#specials > div:nth-child(6) {
	background-image: url('Images/Specials/australia_0.jpg');
}

#specials > div:nth-child(7) {
	background-image: url('Images/Specials/new-zealand_0.jpg');
}

#specials > div:nth-child(8) {
	background-image: url('Images/Specials/madagascar_0.jpg');
}

#specials > div:nth-child(9) {
	background-image: url('Images/Specials/easter-island_0.jpg');
}

#specials > div:nth-child(10) {
	background-image: url('Images/Specials/greenland_0.jpg');
}

#specials > div:nth-child(11) {
	background-image: url('Images/Specials/mexico_0.jpg');
}

#specials > div:nth-child(12) {
	background-image: url('Images/Specials/congo_0.jpg');
}


.specials {
	box-shadow: 1px 1px 1px var(--mainBlack);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#sp_trips {
	text-align: center;
}

.special_price {
	width: 4.5rem;
	height: 1.5rem;
	padding-right: .5rem;
	padding-top: .1rem;
	clip-path: polygon(0% 0%, 100% 0%, 80% 50%, 100% 100%, 0% 100%);
	background: var(--mainGreen);
	color: var(--mainWhite);
	box-shadow: 1px 1px 1px var(--mainBlack);
	text-align: center;
}

.special_desc {
	text-align: center;
	color: var(--mainGreen);
	background-color: white;
	margin: 0px auto;
	cursor: pointer;
	opacity: .4;
	transition: 2s all;
	width: 100%;
	height: 65%;
	position: relative;
}

.special_desc:hover {
	opacity: .9;
	width: 90%;
}

.special_loc {
	display: inline;
	white-space: normal;
}

.fa-info-circle {
	padding: .1rem;
	cursor: pointer;
	position: relative;
	color: var(--mainWhite);
}


/*Second Page(special)*/

#special_header {
	width: 100%;
	height: 3rem;
	background-color: var(--mainBlack);
	color: var(--mainWhite);
	font-size: 1rem;
	display: flex;
	justify-content: flex-start;
	padding: .2rem;
	position: fixed;
}

#special_div {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 60% 40%;
}

#special_img { 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#special_about_header {
	text-align: left;
}

#special_about {
	text-align: justify;
	padding: 1rem;
	font-size: 1.2rem;

}

#wicky {
	border: none;
	background-color: var(--mainBlack);
	color: var(--mainWhite);
	cursor: pointer;
	border-radius: 3px;
	transition: 1s all;
}

#wicky:hover {
	background-color: var(--mainWhite);
	color: var(--mainBlack);
}



/*Reference*/

/*

#reference {
	width: 100%;
	height: 30rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

#ref_pic {
	background-image: url('Images/ref_pic.jpg');
	background-position: center;
	background-size: cover;
}

*/
														/*Media queris*/


@media screen and (max-width: 1000px) {

/*Nav*/
	
	.nav_items {
		display: none;
	}

	#nav {
		background: var(--mainBlack);
		position: relative;
	}

	#burger {
		display: inline;
		color: var(--mainWhite);
		font-size: 1.5rem;
		margin: 1rem;
		float: right;
		z-index: 1;
		cursor: pointer;
	}

	.mini_navs_items {
		height: 11.5rem;
		text-align: center;
		text-decoration: none;
		position: relative;
		display: none;
	}

	.mini_navs_items a  {
		text-decoration: none;
		color: var(--mainBlack);
	}

	.mini_navs_items a:hover {
		text-decoration: underline;
		cursor: pointer;
		cursor: pointer;
	}

	.mini_navs_items ul {
		list-style: none;
		padding: 0px;
	}

	.mini_navs_items ul li {
		padding-top: .5rem;
	}

	.show_mini_nav {
		display: block;
	}

/*B S Galery*/
	#pack_galery {
		display: grid;
		grid-template-columns: none;
		grid-template-rows: repeat(2, 1fr);
		width: 100%;
		height: 50rem;
	}

	.fa-arrow-alt-circle-left {
		top: 40%;
	  	-ms-transform: translateY(-40%);
	  	transform: translateY(-40%);
	}

	.fa-arrow-alt-circle-right {
	  	top: 40%;
	  	-ms-transform: translateY(-40%);
	  	transform: translateY(-40%);
	}
}